@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialised;
}

html {
    font-size: 17px;
    line-height: 1.15;
    font-family: Roboto, sans-serif;
    text-align: justify;
    scroll-behavior:smooth;
    color: white;
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#choice-image {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

#take-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#live {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#camera-video {
    display: none;
}

#snap {
    display: none;
}

div#take-picture-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
